fastapi
uvicorn
sqlalchemy
alembic>=1.10.0
psycopg2-binary
python-dotenv
pydantic-settings
python-jose[cryptography]
bcrypt
email-validator
resend
boto3
python-multipart
pydicom
Pillow
torchxrayvision
monai
mlflow
easyocr
opencv-python-headless
google-auth
kaggle
